@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

root {
  --main-tile-width: 30px;
  --main-tile-height: 30px;
}

body {
  margin-top: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(90deg, skyblue 0%, steelblue 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: 'Luckiest Guy', cursive;
}

.mother {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 10px 30px;
  margin: 10px;
  background: olivedrab;
  color: white;
  font-family: 'Luckiest Guy', cursive;
}

.bouncing-title {
  margin: -100px 0 0px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ludo {
  display: flex;
  width: 100vw;
}

.game-stats {
  flex: 20% 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  background-size: 150px;
  animation: spinner-animation 1.5s infinite;
}

.game-stats-info {
  width: 350px;
  height: 100px;
  background: silver;
  padding: 20px 20px 40px 20px;
  color: gray;
  box-shadow: 0 8px 6px -6px black;
}

.game-log {
  flex: 20% 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-log-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: silver;
  padding: 20px;
  color: gray;
  box-shadow: 0 8px 6px -6px black;
  overflow: scroll;
}

.mainboard {
  order: 0;
  height: 450px;
  max-width: 450px;
  background: wheat;
  flex: 45%;
  box-shadow: 0 8px 6px -6px black;
  animation: box-shadow-animation 2s ease infinite alternate;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

.box-shadow {
  box-shadow: 0 8px 6px -6px black;
}

.dummy {
  width: var(--main-tile-width);
  height: var(--main-tile-height);
  border: 0.1px solid gray;
}

.status {
  color: green;
}

.empty-tile {
  width: 30px;
  height: 30px;
  text-align: center;
}

.ludo-tile {
  width: 30px;
  height: 30px;
  background-color: pink;
  box-sizing: border-box;
  border: 0.1px solid gray;
}

.safe-ludo-tile {
  width: 30px;
  height: 30px;
  background-color: yellowgreen;
  box-sizing: border-box;
  border: 0.1px solid gray;
}

.tile {
  width: 30px;
  height: 30px;
  background-color: wheat;
  box-sizing: border-box;
  border: 0.1px solid gray;
}

.horizontal-line {
  display: flex;
  width: 500px;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

@keyframes box-shadow-animation {
  0%,
  100% {
    box-shadow: 0 8px 6px -6px black;
  }
  50% {
    box-shadow: 0 8px 20px -6px black;
  }
}

@keyframes spinner-animation {
  0% {
    background-image: url('./assets/graphics/1.png');
    background-size: 50px;
  }
  15% {
    background-image: url('./assets/graphics/2.png');
    background-size: 50px;
  }
  30% {
    background-image: url('./assets/graphics/3.png');
    background-size: 50px;
  }
  45% {
    background-image: url('./assets/graphics/4.png');
    background-size: 50px;
  }
  60% {
    background-image: url('./assets/graphics/5.png');
    background-size: 50px;
  }
  75% {
    background-image: url('./assets/graphics/6.png');
    background-size: 50px;
  }
  100% {
    background-image: url('./assets/graphics/1.png');
    background-size: 50px;
  }
}
